.main {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	min-width: 360px;
	max-width: 1920px;
	height: 100%;
	width: auto;
}

@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.heroBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.heroImg {
	display: flex;
	flex-wrap: wrap;
	border: 4px dotted white;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}

.heroText {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px 10px;
	gap: 20px;
	justify-content: space-between;
	text-align: center;
}

.heroText p {
	box-sizing: content-box;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	text-align: justify;
	width: 40%;
	align-self: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.heroText h1 {
	color: #00bfff;
}

.heroText span {
	color: orangered;
}

.IconList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 20px 20px;
}

.Icon {
	color: #00bfff;
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border-radius: 60px;
}

.Icon:hover {
	transition: 0.5s;
	color: #00698c;
}

.tech_cont {
	display: flex;
	flex-direction: column;
	padding: 20px 10px 10px 10px;
}

.techs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
	padding: 30px 10px;
}

.js {
	color: rgb(255, 255, 121);
}

.js:hover {
	color: rgb(255, 230, 0);
}

.ts {
	color: rgb(116, 148, 255);
}

.ts:hover {
	color: rgb(24, 57, 165);
}

.postgres {
	color: rgb(255, 255, 167);
}

.postgres:hover {
	color: rgb(255, 255, 0);
}

.graphql {
	color: rgb(255, 116, 255);
}

.graphql:hover {
	color: rgb(255, 0, 255);
}

.python {
	color: rgb(255, 255, 116);
}
