.navbar {
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #040d21;
	padding: 20px 20px;
	position: static;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	border-bottom: 10px solid white;
}

.navbar h1 {
	font-family: "Press Start 2P", cursive;
	letter-spacing: 16px;
	animation: blinkText 10s ease-in-out infinite;
	text-align: center;
	cursor: none;
}
.navbar h1:hover {
	animation: none;
}

.navbar h1 > span {
	animation: blinkText 5s ease-in-out infinite;
}

.right_nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.right_nav .wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.link_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 20px 5px 20px;
	gap: 20px;
}

.link {
	padding: 10px 20px;
	border-radius: 20px;
	text-align: center;
	letter-spacing: 4px;
	transition: 0.5s;
}

.link:hover {
	transition: 1s linear;
	color: orangered;
}

.galaga_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 25px 10px 5px 10px;
	align-items: center;
	height: 100px;
}

.move {
	animation: galagaMoving 5s ease-in-out infinite;
}

@keyframes galagaMoving {
	0% {
		transition: 1s linear infinite;
		transform: translateX(190px);
	}
	50% {
		transition: 1s linear infinite;
		transform: translateX(-190px);
	}

	100% {
		transition: 1s linear infinite;
		transform: translateX(190px);
	}
}

@keyframes blinkText {
	0% {
		transition: 2s ease-in;
		color: transparent;
	}
	50% {
		transition: 4s ease-in-out;
		background: -webkit-linear-gradient(#00bfff, orangered);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	75% {
		transition: 2s ease-out;
		color: transparent;
	}
	100% {
		transition: 4s ease-in-out;
		background: -webkit-linear-gradient(#00bfff, orangered);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.shot {
	position: absolute;
	width: 1px;
	height: 1px;
	background: whitesmoke;
	border-radius: 60px;
	animation: shotsFired 25s linear;
}

@keyframes shotsFired {
	0% {
		transition: 10s linear;
		box-shadow: 0px 0px 10px 1px white;
	}
	20% {
		transition: 1s linear;
		box-shadow: 0px 0px 30px 1px rgb(0, 217, 255);
		background: #00bfff;
		transform: scale(110%);
	}

	50% {
		transition: 5s linear;
		background: orangered;
		box-shadow: 0px 0px 70px 20px rgb(255, 0, 0);
	}
	75% {
		transition: 1s linear;
		background: orangered;
		width: 4px;
		height: 4px;
		transform: scale(120%);
		box-shadow: 0px 0px 70px 10px rgb(255, 0, 0);
	}
	90% {
		transition: 5s linear;
		width: 10px;
		height: 10px;
		transform: scale(100%);
		box-shadow: 0px 0px 30px 10px orangered;
		background: rgb(0, 0, 0);
	}
	100% {
		transition: 10s linear;
		box-shadow: none;
		background: transparent;
	}
}
