@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.main {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.main > a {
	letter-spacing: 10px;
	font-size: 1.5em;
	font-weight: bold;
	scroll-behavior: smooth;
	padding: 20px 20px;
	transition: 0.5s;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
}

.main a:hover {
	transition: 1s;
	color: orangered;
}

.container {
	padding: 20px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: transparent;
	gap: 10px;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 120px 70px;
	padding: 100px 50px;
	font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 350px;
	height: 300px;
	border-radius: 1.5rem;
	transition: 0.5s;
	aspect-ratio: 1 /1.5;
	z-index: 0;
}
.card::before {
	content: "";
	inset: -0.2rem;
	position: absolute;
	background: rgba(0, 0, 0, 0.899);
	border-radius: inherit;
	z-index: -1;
}

.card::after {
	content: "";
	position: absolute;
	overflow: visible;
	inset: -0.2rem;
	background: conic-gradient(
		from var(--gradient-angle),
		#00bfff,
		orangered,
		rgb(0, 33, 94),
		#00bfff
	);
	border-radius: inherit;
	animation: rotation 10s linear infinite;
	z-index: -2;
}

.card::after {
	filter: blur(3.5rem);
}

.cards .card:hover {
	height: 400px;
	cursor: pointer;
}

.cards .card .Img {
	position: relative;
	overflow: hidden;
	top: 20px;
	width: 300px;
	height: 220px;
	border-radius: 20px;
	transition: 0.5s;
}

.cards .card:hover .Img {
	top: -100px;
	scale: 0.7;
	box-shadow: 0px 15px 15px 5px black;
}

.cards .card .Img > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cards .card .content {
	position: absolute;
	top: 240px;
	width: 100%;
	padding: 0px 30px;
	text-align: center;
	height: 30px;
	overflow: hidden;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards .card:hover .content {
	top: 140px;
	height: 250px;
}

.cards .card .content h2 {
	font-size: 1.5em;
	font-weight: bold;
	transition: 0.5s;
}

.cards .card:hover .content h2 {
	font-size: 1.7em;
	color: rgb(253, 216, 203);
}

.boxLink {
	font-size: 1rem;
	position: absolute;
	bottom: 50px;
	align-self: center;
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}

.content {
	display: flex;
	gap: 10px;
}

.content h4 {
	color: orangered;
}

.content span {
	color: white;
}

.seeLiveButton {
	transition: 1s;
	height: 40px;
	width: 100px;
	cursor: pointer;
	background: #00bfff;
	border-radius: 8px;
	outline: none;
	border: none;
}

.seeLiveButton:hover {
	transition: 1s;
	background: #006182;
	color: white;
}
